html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

aside {
    float: left;
    width: 20%;
}

#map {
    height: 100vh !important;
}

.blue-color{
    color: blue;
}

.red-color{
    color: red;
}